@TreeRichSelector-treeItem-bacground-hover: transparent;
.ui-tree-richselector {
    .ui-richselector-query-list {
        .ui-tree-content-wrapper {
            border-left: medium none;
            padding: 0 5px;
            line-height: 35px;
            .clearfix();
            &:hover {
                background: @TreeRichSelector-treeItem-bacground-hover;
            }
        }

        .ui-tree-node-indicator {
            float: left;
            margin-top: 5px;
        }

        .ui-tree-item-content {
            color: #666;
            position: relative;
            display: block;
            padding-right: 50px;
            .ellipse-overflow();
        }

        .ui-tree-node-empty .ui-tree-item-content {
            color: #9a9a9a;
        }

        .ui-tree-node-empty .ui-tree-content-wrapper-selected {
            background: #fffaee;
            .ui-tree-item-content {
                color: #333;
            }
        }
    }

    &.ui-richselector-load {

    }
}

